<!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management System{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</header>

<body>
    <header id="header-placeholder"></header>

    <main>
        <section class="welcome-section">
            <h2>Welcome to Our Library</h2>
            <p>We are delighted to have you here. Our library offers a wide range of books across various genres. Whether you are looking for the latest bestsellers, classic literature, or educational resources, we have something for everyone.</p>
            <p>Explore our collection, manage your loans, and more using the navigation links above. We hope you enjoy your time here!</p>
        </section>

        <section class="features-section">
            <h2>Library Features</h2>
            <ul>
                <li>Extensive collection of books</li>
                <li>Easy loan management</li>
                <li>Search for books and customers</li>
                <li>Track late loans</li>
                <li>And much more!</li>
            </ul>
        </section>
    </main>
    <footer id="footer-placeholder"></footer>

    <script src="load-components.js"></script>
   
</body>

</html>
